@model Tabproject.Models.Person
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Home Page";
}


<head>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<p style="padding-top:50px">
    @Html.ActionLink("Create New", "Create", "people")
</p>
